TENABLE_SC_URL=https://localhost:8443
TENABLE_SC_SECURITY_MANAGER_USERNAME=
TENABLE_SC_SECURITY_MANAGER_PASSWORD=
TENABLE_SC_VERIFY_SSL=false
TENABLE_SC_AUTH_MODE=session
TENABLE_SC_ACCESS_KEY=
TENABLE_SC_SECRET_KEY=
TENABLE_SC_GLOBAL_ADMIN_USERNAME=
TENABLE_SC_GLOBAL_ADMIN_PASSWORD=
TENABLE_SC_TIMEOUT=120

LABBOX_UTILS_PATH=./labbox-utils

SPLUNK_WEB_URL=http://localhost:8000
SPLUNK_USERNAME=
SPLUNK_PASSWORD=
SPLUNK_HEC_URL=http://localhost:8088/services/collector/event
SPLUNK_HEC_TOKEN=
SPLUNK_INDEX=tenable_compliance
SPLUNK_SOURCETYPE_KPI=tenable:sc:compliance:kpi
SPLUNK_SOURCETYPE_DETAIL=tenable:sc:compliance:detail
SPLUNK_LOOKUP_APP=search
