TENABLE_SC_URL=https://localhost:8443
TENABLE_SC_USERNAME=
TENABLE_SC_PASSWORD=
TENABLE_SC_VERIFY_SSL=false
TENABLE_SC_AUTH_MODE=session
TENABLE_SC_ACCESS_KEY=
TENABLE_SC_SECRET_KEY=
TENABLE_SC_TIMEOUT=120

LABBOX_UTILS_PATH=./labbox-utils
